{% extends 'home/base.html' %}

{% block title %}About{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
<h1 class="mx-5 my-5">About Real Estate Exposure</h1>
<p class="mx-5  font-weight-normal text-justify" style="padding-bottom:90px;">The shelter is one of the main things for a human being in his day-to-day life. Nowadays, finding a property
in metropolitan cities is becoming a big issue for the people who are new to that area for buying or renting.
Even the owners of the property also feel hectic to sell the property as the advertisements become
commercial. Brokerage systems exist, but the unnecessary commission for brokers would be another
drawback for both owners and buyers. So a platform is needed where both sellers and buyers would directly
meet according to their necessities without any intermediate source between them. A renting system that
exists now also needs to be easier than now. Tenants would be more comfortable if they could see the
available properties without any intermediate brokerage system.
A common platform for both selling and renting systems would be very grateful for all owners, buyers, and
tenants. It would permit the owner to post advertisements for his properties and interested buyers or tenants
would approach him directly for the deal. As people are going too busy in their lives, no one wants to waste
time,energy and money unnecessarily for all these while they would be provided a good platform so solve
this. Another main problem for all new people in such metro-politan cities is finding a maid which presently 
A common platform for both selling and renting systems would be very grateful for all owners, buyers, and
tenants. It would permit the owner to post advertisements for his properties and interested buyers or tenants
would approach him directly for the deal. As people are going too busy in their lives, no one wants to waste
time,energy and money unnecessarily for all these while they would be provided a good platform so solve
this. Another main problem for all new people in such metro-politan cities is finding a maid which presently
A common platform for both selling and renting systems would be very grateful for all owners, buyers, and
tenants. It would permit the owner to post advertisements for his properties and interested buyers or tenants
would approach him directly for the deal. As people are going too busy in their lives, no one wants to waste
time,energy and money unnecessarily for all these while they would be provided a good platform so solve
this. Another main problem for all new people in such metro-politan cities is finding a maid which presently
A common platform for both selling and renting systems would be very grateful for all owners, buyers, and
tenants. It would permit the owner to post advertisements for his properties and interested buyers or tenants
would approach him directly for the deal. As people are going too busy in their lives, no one wants to waste
time,energy and money unnecessarily for all these while they would be provided a good platform so solve
this. Another main problem for all new people in such metro-politan cities is finding a maid which presently</p>
{% endblock body %}