{% extends 'home/base.html' %}
{% block title %}All Employees{% endblock title %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}
          .col-md-3
          {
          display: inline-block;
         
          }

          .card-body {
            width: 100%;
          
          }
          .col-md-3 img{
            margin-left:-15px;
          width: 285px;
          height: 200px;
          }
          .card-text{
            margin-left:-25px;
            width: 285px;
          }

          .btn-primary{
            margin-right:5px;
          }

           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
 {% endblock %}
 


{% block body %}
{% load static %}
<div class="container-fluid my-5 mx-2 " style="padding-bottom:80px">

    <h3 class="col-md-3" style="margin-left:50px">Mades For Hiring</h3>
<ul id="horizontal-list">
    {% for employee in allemployees %}
    <li style="display:inline;" class="my-2">
    <div class="card col-md-3 my-3 mx-4" style="width: 18rem;" >
      <img src="/media/{{employee.prfilepic}}" class="card-img-top" alt="...">
      <div class="card-body">
        <small><p class="card-text"><b>{{employee.firstname}} {{ employee.lastname}},</b> {{employee.gender}} is Works as <b>{{employee.worktype}} </b></p></small>
              <small><p class="card-text">Looking For Work <b></b>,  Address: {{employee.address}} {{employee.address2}} <b> {{employee.city}}</b> {{employee.statename}}</p></small>
              <small><p class="card-text"><b>Pincode : {{employee.zipf}}, Contact :  </b> {{employee.phone}}</p></small>
              <a href="properties/employeedetail/{{employee.employeeid}}" id="homes.propertyid" class="btn btn-primary">Get Details</a>
              <!--<a href="properties/payment/{{home.propertyid}}" class="btn btn-primary">Buy Now</a>-->
      </div>
    </div>
    </li>
    {% endfor %}
    <ul>
     
</div>

 {% endblock %}
