{% extends 'home/base.html' %}

{% block title %}Post Fos Sale{% endblock title %}
{% block homeactive %} active {% endblock homeactive %} 

{% block body %}
<div class="container">
    <div class="row justify-content-center mx-2 my-4" style="padding-bottom:60px">
        
            <form method="post" action="/hadlepostforsale" enctype="multipart/form-data">
            {% csrf_token %} 
                                <div class="form-group">
                                    <label for="address"><h3>Enter Details of property to post advertisement</h3></label>
                                    
                                </div>

                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" required>
                                </div>
                                <div class="form-group">
                                    <label for="address2">Address 2</label>
                                    <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor" required>
                                </div>
                                <div class="form-group">
                                    <label for="country">country</label>
                                    <input type="text" class="form-control" id="country" name="country" placeholder="country" required>
                                </div>
                                <div class="form-group">
                                    <label for="statename">State Name</label>
                                    <input type="text" class="form-control" id="statename" name="statename" placeholder="State " required>
                                </div>
                            
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" id="city" placeholder="city" name="city" required>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="zipf">Zip</label>
                                        <input type="text" class="form-control" id="zipf" placeholder="Pincode" name="zipf" required>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="parking">parking</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="parking1" name="parking" value="Yes" >
                                        <label class="custom-control-label" for="parking1">Yes</label>
                                    </div>
                                    <!-- Default inline 2-->
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="parking2" value="No"  name="parking" checked>
                                        <label class="custom-control-label" for="parking2">No</label>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="furnshid">furnshid</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="furnshid1" name="furnshid" value="Yes" >
                                        <label class="custom-control-label" for="furnshid1">Yes</label>
                                    </div>
                                    <!-- Default inline 2-->
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="furnshid2" value="No"  name="furnshid" checked>
                                        <label class="custom-control-label" for="furnshid2">No</label>
                                    </div>
                                    
                                </div>

                                <div class="form-group">
                                    <label for="airconditioner">Air Conditioner</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="airconditioner1" name="airconditioner" value="Yes" >
                                        <label class="custom-control-label" for="airconditioner1">Yes</label>
                                    </div>
                                    <!-- Default inline 2-->
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="airconditioner2" value="No"  name="airconditioner" checked>
                                        <label class="custom-control-label" for="airconditioner2">No</label>
                                    </div>
                                    
                                </div>

                                <div class="form-group">Swimming-Pool</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="swimmingpool1" name="swimmingpool" value="Yes" >
                                        <label class="custom-control-label" for="swimmingpool1">Yes</label>
                                    </div>
                                    <!-- Default inline 2-->
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="swimmingpool2" value="No"  name="swimmingpool" checked>
                                        <label class="custom-control-label" for="swimmingpool2">No</label>
                                    </div>
                                    
                                </div>

                                <div class="form-group">
                                    <!-- Date of Birth input -->
                                    <label class="control-label" for="cunstructionyear">Cunstruction Year</label>
                                    <input class="form-control" id="cunstructionyear" name="cunstructionyear" placeholder="MM/DD/YYY" type="date" required>
                                </div>

                                <div class="form-group">
                                    <label for="price">Expected Price</label>
                                    <input type="text" class="form-control" id="price" name="price" placeholder="Enter Price" required>
                                </div>
                                
                                <div class="form-group">
                                    <label for="area">Area</label>
                                    <small>(In sqr feet)</small>
                                    <input type="text" class="form-control" id="area" name="area" placeholder="Enter Area" required>
                                </div>

                                <div class="form-group">
                                    <label for="propertytype">Property Type</br></label>
                                    <div class="form-group">
                                    <h5>Note :</h5>
                                    <small>In others there will be any type of property other than these five (Like Blank land, Villas etc... )</small>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="onebhk" name="propertytype" value="onebhk" checked>
                                        <label class="custom-control-label" for="onebhk">1 BHK</label>
                                    </div>
                                    <!-- Default inline 2-->
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="twobhk" value="twobhk"  name="propertytype">
                                        <label class="custom-control-label" for="twobhk">2 BHK</label>
                                    </div>
                                    <!-- Default inline 3-->
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="threebhk" value="threebhk"  name="propertytype">
                                        <label class="custom-control-label" for="threebhk">3 BHK</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="fourbhk" value="fourbhk"  name="propertytype">
                                        <label class="custom-control-label" for="fourbhk">4 BHK</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="fivebhk" value="fivebhk"  name="propertytype">
                                        <label class="custom-control-label" for="fivebhk">5 BHK</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="others1" value="others1"  name="propertytype">
                                        <label class="custom-control-label" for="others1">Others</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="description">Give Description about your property </label>
                                    <textarea class="form-control" id="description" placeholder="Write short Description about your proprety that describes it all." name="description" rows="3"></textarea>
                                </div>

                                <div class="form-group">  
                                <label for="mainimage">Add Front Face Image of Property </label>  
                                </div>    
                                 
                                <div class="form-group field_wrapper mt-1"> 
                                <input type="file" name="mainimage" id="mainimage" value="" class="my-2"  >
                                <!--<<input type="text" name="field_name[]" value=""/>
                                <a style="text-decoration:none;" href="javascript:void(0);" class="add_button" title="Add field">Add Image Feild</a>-->
                                </div>
                                
                                <div class="form-group">  
                                <label for="addimage">add image files according to your requirement </label>  
                                </div>    
                                 
                                <div class="form-group field_wrapper mt-1"> 
                                <input type="file" name="images" id="propertyimages" value="" class="my-2"  multiple>
                                <!--<<input type="text" name="field_name[]" value=""/>
                                <a style="text-decoration:none;" href="javascript:void(0);" class="add_button" title="Add field">Add Image Feild</a>-->
                                </div>

                                

                                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        
    </div>
</div>
{% endblock body %}


<!--{% block javaScript %}
<script>
$(document).ready(function(){
    var maxField = 10; //Input fields increment limitation
    var addButton = $('.add_button'); //Add button selector
    var wrapper = $('.field_wrapper'); //Input field wrapper
    var fieldHTML = '<div><input class="my-2" type="file" name="field_name[]" value=""/><a style="text-decoration:none;" href="javascript:void(0);" class="remove_button">Remove Image Feild</a></div>'; //New input field html 
    var x = 1; //Initial field counter is 1
    
    //Once add button is clicked
    $(addButton).click(function(){
        //Check maximum number of input fields
        if(x < maxField){ 
            x++; //Increment field counter
            $(wrapper).append(fieldHTML); //Add field html
        }
    });
    
    //Once remove button is clicked
    $(wrapper).on('click', '.remove_button', function(e){
        e.preventDefault();
        $(this).parent('div').remove(); //Remove field html
        x--; //Decrement field counter
    });
});
</script> -->
{% endblock javaScript %}